<table class="centered">
  <tr>
    <td>
      <a href="static/output/kp_manual.png?{{ timestamp }}">
        <img src="static/output/kp_manual.png?{{ timestamp }}" class="autoImg">
      </a>
    </td>
    <td>
      <a href="static/output/ae_max_manual.png?{{ timestamp }}">
        <img src="static/output/ae_max_manual.png?{{ timestamp }}" class="autoImg">
      </a>
    </td>
    <td>
      <a href="static/output/symh_manual.png?{{ timestamp }}">
        <img src="static/output/symh_manual.png?{{ timestamp }}" class="autoImg">
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="static/output/ground_scatter_manual.png?{{ timestamp }}">
        <img src="static/output/ground_scatter_manual.png?{{ timestamp }}" class="autoImg">
      </a>
    </td>
    <td>
      <a href="static/output/intpsd_max_manual.png?{{ timestamp }}">
        <img src="static/output/intpsd_max_manual.png?{{ timestamp }}" class="autoImg">
      </a>
    </td>
    <td>
      <a href="static/output/month_manual.png?{{ timestamp }}">
        <img src="static/output/month_manual.png?{{ timestamp }}" class="autoImg">
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="static/output/ground_scatter_discard_manual.png?{{ timestamp }}">
        <img src="static/output/ground_scatter_discard_manual.png?{{ timestamp }}" class="autoImg">
      </a>
    </td>
    <td>
      <a href="static/output/ground_scatter_month_manual.png?{{ timestamp }}">
        <img src="static/output/ground_scatter_month_manual.png?{{ timestamp }}" class="autoImg">
      </a>
    </td>
    <td>
      <a href="static/output/month_manual2.png?{{ timestamp }}">
        <img src="static/output/month_manual2.png?{{ timestamp }}" class="autoImg">
      </a>
    </td>
  </tr>
</table>
