{% extends "layout.html" %}
{% block body %}

<!--
<div class="centered" >
  <a href="/static/distribution.png?{{ timestamp }}"><img src="static/distribution.png?{{ timestamp }}" width="100%"></a>
</div>
-->
<br />
Total events: {{ webData.days_total }}
<table class="centered">
  <tr>
      <th class="dateList">
          MSTID <br />
          Total: {{ webData.mstid_days_total }} <br />
          Checked: {{ webData.mstid_days_manual_checked }}
      </th>
      <th class="dateList">
          Quiet <br />
          Total: {{ webData.quiet_days_total }} <br />
          Checked: {{ webData.quiet_days_manual_checked }}
      </th>
      <th class="dateList">
          None <br />
          Total: {{ webData.none_days_total }} <br />
          Checked: {{ webData.none_days_manual_checked }}
      </th>
      <th style="text-align: left;">
          <span id="listDropDown">{{ webData.list_dropdown|safe }}</span>
          <div id="saveAsBox" style="display: none;">
              <input name="listSave" id="listSave"> <button id="listSaveButton">Save</button>
          </div>
      </th>
  </tr>
  <tr>
    
    <td>
      <div class="dateList" id="mstidList">
        {{ webData.mstidDays|safe }}
      </div>
    </td>
    <td>
      <div class="dateList" id="quietList">
        {{ webData.quietDays|safe }}
      </div>
    </td>
    <td>
      <div class="dateList" id="noneList">
        {{ webData.noneDays|safe }}
      </div>
    </td>
    <td>
      <a id='aRtiImg' href=""><img id='rtiImg' src="/static/img/tmp.png" class="autoImg"></a>
      <div id='categoryFormDiv' style="display: None;">
        <center>

        <table>
            <tr>
                <td>
                    Radar<br />
                    <input type="text" name="categ_radar" id="catRadar" disabled>
                </td>
                <td>
                    Date<br />
                    <input type="text" name="categ_day" id="catDate" disabled>
                </td>
                <td>
                    MLT<br />
                    <input type="text" name="categ_mlt" id="categ_mlt" disabled>
                </td>
            </tr>
            <tr>
                <td>
                    Computed Category<br />
                    <input type="radio" name="categ_auto" value="mstid" id="categ_auto_mstid" disabled> MSTID <br>
                    <input type="radio" name="categ_auto" value="quiet" id="categ_auto_quiet" disabled> Quiet <br>
                    <input type="radio" name="categ_auto" value="None"  id="categ_auto_none"  disabled> None <br>
                </td>
                <td>
                    Manual Category<br />
                    <input type="radio" name="categ_manu" value="mstid" id="categ_manu_mstid"> MSTID <br>
                    <input type="radio" name="categ_manu" value="quiet" id="categ_manu_quiet"> Quiet <br>
                    <input type="radio" name="categ_manu" value="None"  id="categ_manu_none" > None <br>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>Checked</td>
                <td><input type="checkbox" name="categ_checked" id="categ_checked"></td>
            </tr>
            <tr>
                <td colspan=100 class="submit-cell"><button class="button1 clickable" id="catButton">Update Category</button></td>
            </tr>
            <tr id="categ_form_info" style="display: none;">
                <td colspan=100 class="submit-cell" id="categ_form_info_cell" style="background-color: #ff0;">Updated database!!</td>
            </tr>
        </table>

      </center>
      </div>
    </td>
  </tr>
</table>
{% endblock %}
          {#
          <tr>
            <td>Survey Code</td>
            <td><input type="text" name="survey_code" id="survey_code" disabled></td>
          </tr>
          <tr>
            <td>Ground Scatter</td>
            <td><input type="text" name="gscat_count" id="gscat_count" disabled></td>
          </tr>
          <tr>
            <td>Notes</td>
            <td><textarea rows="10" cols="50" name="categ_notes" id="categ_notes"></textarea></td>
        </tr>
        #}
